---
import type { CollectionEntry } from "astro:content";
import { getSiteURl } from "../utils/getSiteUrl";

export type Props = Pick<CollectionEntry<"projets">["data"], "tags">;

const { tags } = Astro.props;
---

<nav aria-label="Tags Menu" class="tag-nav">
    <ul class="flex-wrap">
        {
            tags.map((t: string) => (
                <li class="tag-link">
                    <span aria-hidden="true">#</span>
                    <a href={getSiteURl(`/tag/${t}`, Astro.site).toString()}>
                        {t}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
